{% trans_default_domain 'AppliUserBundle' %}
<h3 style="color:#5A5E6B;">Bienvenue {{ user.username }} sur votre profil utilisateur</h3>
<div class="fos_user_user_show">
    <p>Username : {{ user.username }}</p>
    <p>Password : {{ user.email }}</p>
</div>
